<%- include('partials/header') %>

<div class="container">
  <!-- EMAIL -->
  <div class="text-center m-5">
    <div class="feature-icon-small d-inline-flex align-items-center fs-4 rounded-3">
      <a class="btn btn-block btn-social-icon btn-google">
        <span class="fa fa-google"></span>
      </a>
    </div>
    <h5 class="fw-semibold mb-0 text-body-emphasis">Mail to us</h5>
    <p class="text-body-secondary">albertaitprofessionals@gmail.com</p>
  </div>
</div>

<%- include('partials/footer') %>