
<%- include('partials/header') %>



    <!-- Mission- START -->
      <div class="px-4 pt-5 my-5 text-center">
        <h2 class="display-4 fw-bold text-body-emphasis">Our Mission</h2>
        <div class="col-lg-6 mx-auto">
          <p class="lead mb-4 fst-italic">Empowering Individuals through Technology: Upskilling, Referrals, Jobs, Interview Preparation, and Personal Development.</p>

          <h3 class="pb-4 mb-4 fst-italic border-bottom">
            Join our tech group and be a part of our referral network, spanning 500 companies in Alberta and connecting you with a thriving community of 2000 members!
          </h3>
    <!-- Mission - END -->

    <!-- Registration Button - START -->
          <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <!-- <a href="/register">
              <button type="button" class="btn-linkedin btn btn-outline-secondary btn-lg px-4 me-sm-3">Register With Us</button>
            </a> -->
            <a class="btn btn-block btn-social btn-linkedin" href="/auth/linkedin">
              <span class="fa fa-linkedin"></span> Register via LinkedIn
            </a>
          </div>
        </div>
    <!-- Registration Button - END -->

    <!-- Group photo - START -->
        <div class="overflow-hidden" style="max-height: 30vh;">
          <div class="container px-1">
            <img src="images/groupImage-1.jpeg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Meet Up Group Photo" width="700" height="500" loading="lazy">
          </div>
        </div>
    <!-- Group photo - END -->
      </div>



<%- include('partials/footer') %>