<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <link rel="stylesheet" href="../../public/css/styles.css">

        <title>Alberta IT Professionals</title>

    </head>

    <body class="background">

      <!-- Navbar - START -->
        <div class="container">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
              <a href="/home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                <img class="bi me-2" width="40" height="32" src="../../public/icons/Alberta-icon.png"></img>
                <span class="fs-4">Alberta IT Professionals</span>
              </a>
        
              <ul class="nav nav-pills">
                <li class="nav-item"><a href="/home" class="nav-link navlink-color" aria-current="page">Home</a></li>
                <li class="nav-item"><a href="/about" class="nav-link navlink-color">About Us</a></li>
                <li class="nav-item"><a href="/contact" class="nav-link navlink-color">Contact Us</a></li>
              </ul>
            </header>
          </div>
        <!-- Navbar - END -->


<!-- Registration form - START -->

  <div class="container w-50">
    <h4 class="mb-3">Register with us</h4>
    <form class="needs-validation" novalidate="">
      <div class="row g-3">
        <!-- First Name -->
        <div class="col-sm-6">
          <label for="firstName" class="form-label">First name<span class="text-body-secondary">(*)</span></label>
          <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
          <div class="invalid-feedback">
            Valid first name is required.
          </div>
        </div>

        <!-- Last Name -->
        <div class="col-sm-6">
          <label for="lastName" class="form-label">Last name<span class="text-body-secondary">(*)</span></label>
          <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
        </div>

        <!-- Company Name -->
        <div class="col-sm-6">
          <label for="firstName" class="form-label">Company<span class="text-body-secondary">(*)</span></label>
          <input type="text" class="form-control" id="firstName" placeholder="" value="" required>
        </div>

        <!-- City -->
        <div class="col-sm-6">
          <label for="lastName" class="form-label">City<span class="text-body-secondary">(*)</span></label>
          <input type="text" class="form-control" id="lastName" placeholder="" value="" required>
          <div class="invalid-feedback">
            Valid last name is required.
          </div>
        </div>

        <!-- Email -->
      <div class="col-12">
        <label for="email" class="form-label">Email <span class="text-body-secondary">(*)</span></label>
        <input type="email" class="form-control" id="email" placeholder="you@example.com">
        <div class="invalid-feedback">
          Please enter a valid email address for shipping updates.
        </div>
      </div>
      
        <!-- LinkedIn Profile URL -->
        <div class="col-12">
          <label for="email" class="form-label">LinkedIn<span class="text-body-secondary">(*)</span></label>
          <input type="email" class="form-control" id="email" placeholder="Link to your profile" required
          pattern="/^(http(s)?:\/\/)?([\w]+\.)?linkedin\.com\/(pub|in|profile)\/([-a-zA-Z0-9]+)\/*/gm"
          title="Enter valid url">
          <div class="invalid-feedback">
            Please enter a valid link.
          </div>
        </div>

      <hr class="my-4">

      <button class="w-50 btn btn-outline-primary btn-lg container-fluid " type="submit">Register</button>
    </form>
  </div>

  <!-- Registration form - END -->
</body>
</html>